:root {
--RotaryRoyalBlue: #17458f;
--RotaryGold: #f7a81b;
--RotaryAzure: #0067c8;
--RotarySkyBlue: ##00a2e0;
--RotaryCranberry: #d41367;
--RotaryCardinal: #e02927;
--RotaryBlack: #000000;
--RotaryCharcoal: #54565a;
--RotaryWhite: #ffffff;
}

