:root {
--RotaryRoyalBlue: #17458f;
--RotaryGold: #f7a81b;
--RotaryAzure: #0067c8;
--RotarySkyBlue: ##00a2e0;
--RotaryCranberry: #d41367;
--RotaryCardinal: #e02927;
--RotaryBlack: #000000;
--RotaryCharcoal: #54565a;
--RotaryWhite: #ffffff;
}

.boldgold {
  color: var(--RotaryGold);
}

.bodytextsmall {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5;
 
}
.bodytextmedium {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
 
}
.bodytextlarge {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  line-height: 1.5;
 
}


.slide-header, .slide-footer {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
  font-size: 8px;
  background:  var(--RotaryRoyalBlue);
  color: white;
  padding: 5px;
}

.slide-header {
  top: 0;
}

.slide-footer {
  bottom: 0;
}
