:root {
--RotaryRoyalBlue: #17458f;
--RotaryGold: #f7a81b;
--RotaryAzure: #0067c8;
--RotarySkyBlue: ##00a2e0;
--RotaryCranberry: #d41367;
--RotaryCardinal: #e02927;
--RotaryBlack: #000000;
--RotaryCharcoal: #54565a;
--RotaryWhite: #ffffff;
}

.slide-header, .slide-footer {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1000;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
}

.slide-header {
  top: 0;
}

.slide-footer {
  bottom: 0;
}
